<h1>News</h1>

<%= link_to 'New Post', new_post_path %>
<table>
  <tr>
    <th></th>
    <th>Title</th>
    <th>Text</th>
    <th>Author</th>
  </tr>

  <% @posts.each do |post| %>
    <tr>
      <td><%= post.id %></td>
      <td><%= post.title %></td>
      <td><%= post.body %></td>
      <td><%= post.user.username %></td>
      <td><%= link_to 'Show', post_path(post) %></td>
    </tr>
  <% end %>
</table>
